.title-characters {
  margin-top: 3em;
  margin-bottom: 1em;
}
.characters-title-under {
  margin-top: 1em;
}
.characters-border {
  margin-top: 5em;

  border-bottom: 2px solid #dadada;
  border-top: 2px solid #dadada;
}
.characters {
  margin: 2em auto;
  max-width: 1200px;
  width: 90%;
}
.grid-characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.mario-child-first {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.mario-child-second {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.legend-first-child {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.legend-second-child {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.animal-first-child {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.animal-second-child {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.kirby-first-child {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.kirby-second-child {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.characters-img:hover {
  transform: scale(1.1);
  transition: transform 100ms ease-in-out 0s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .characters {
    margin: auto auto;
    width: 90%;
    max-width: 500px;
  }
  .grid-characters {
    display: grid;
    flex-direction: column;
  }
  .legend-first-child {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .legend-second-child {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .animal-first-child {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .animal-second-child {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .kirby-first-child {
    min-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .kirby-second-child {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .characters-img {
    object-fit: cover;
    max-width: 100%;
  }
}
