.first-sect {
    position: relative;
    
}

.first-sect-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 13.5rem);
    background-image: url("../images/nintendo-pictures/online-store/bg.jpg");
}

.first-sect-img {
    position: relative;
    width: 100%;
    padding-top: 2rem;
}

.first-sect-img picture {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.first-sect-img picture img {
    width: 100%;
    border-radius: 0.25rem;
}

.first-sect-xeno {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
    height:8.2rem;;
}
.fs-x-sect {
    display: flex;
    align-items: center;
}

.fs-x-div {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.fs-x-div h1 {
    font-size: 1.75rem;
}
.link-btn-div {
    position: relative;
    width: max-content;
}

.link-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.125rem;
    height: 3rem;
    font-size: 1.125rem;
    padding: 0px 1.5rem;
}

.link-btn span {
    z-index: 1;
    color: white;
    font-weight: bold;
}

.link-btn::before {
    position: absolute;

    content: "";
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 0, 18);
    background-color: rgb(230, 0, 18);
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    top: 0px;
    left: 0px;
    padding: 0px;
    border-radius: 0.25rem;
}


.teen_link {
    display: flex;
    gap:0.75rem;
}

.teen-text {
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 0.75rem;
    line-height: 1.2rem;
}

.teen-text-1 {
    border-bottom: 1.5px solid grey;
}

@media (max-width: 1000px) {
    .main-content {
    }
}