.first-sect {
    position: relative;
    height: 40.625em;
    background-color: bisque;

}

.first-sect-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62.5%;
    background-image: url("../images/nintendo-pictures/online-store/bg.jpg");
}

.first-sect-img {
    position: relative;
    width: 100%;
    padding-top: 2rem;
}

.first-sect-img picture {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.first-sect-img picture img {
    height: 25em;
}

@media (max-width: 1000px) {
    .main-content {
    }
}